@import "./HeaderSection.scss";
@import "./PrimaryCover.scss";
@import "./TextImage.scss";
@import "./TextCalender.scss";
@import "./ImageGallery.scss";
@import "./ImageSlider.scss";
@import "./FooterSection.scss";
@import "./Offers.scss";
@import "./SecondaryCover.scss";
@import "./PriceSection.scss";
@import "./SecondaryPriceSection.scss";
@import "./ContactSection.scss";
@import "./Buttons.scss";
@import "./Accordion.scss";
