.price-section {
  padding: 80px 0;

  &__title {
    padding-bottom: 16px;
  }

  &__text {
    max-width: 535px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }

  &__special {
    padding-bottom: 32px;
    padding-top: 8px;
    text-decoration: underline;
    font-size: 18px;
  }

  &__item {
    padding: 24px;
    background-color: #d9d9d9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  &__item-title-container {
    display: flex;
    justify-content: space-between;
  }

  &__item-price-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: auto;
    padding-top: 24px;
  }

  &__item-price {
    font-size: 20px;
    font-weight: 500;
  }

  &__item-price-light {
    font-size: 12px !important;
  }

  &__item-title {
    padding-bottom: 8px;
    font-size: 32px !important;
    font-weight: 500 !important;
  }

  &__item-text {
    font-size: 14px;
  }

  &__item-line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 12px 0 24px;
  }

  &__item-deposit {
    font-size: 12px;
    font-weight: 400;
  }

  &__item-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      font-size: 12px;
      font-weight: 300;
      list-style: none;
    }
  }

  @include break(tablet) {
    padding: 60px 0;

    &__grid {
      grid-template-columns: 1fr;
    }
  }

  @include break(mobile) {
    padding: 48px 0;
  }
}
